<div class="rectangle230">
  <div class="group327">
    <div class="uploadyourimage">Upload your image</div>
    <div class="fileshouldbe">File should be Jpeg, Png,...</div>
    <div class="group326">
      <div class="rectangle231">
        <!--<div class="rectangleVector"></div>-->
        <img src="../resources/image.svg" alt="" class="demoimage">
        <div class="draganddrop">Drag & Drop your image here</div>
      </div>
      <div class="or">Or</div>
    </div>
    <form action="#" class="buttons" enctype="multipart/form-data" method="post">
      <label for="file-upload" class="chooseafile" >Choose a file</label>
      <input id="file-upload" onchange='cambiar()' type="file" style='display: none;'/>
      <input type="submit" class="send" value="Upload"/>
    </form>
  </div>
</div>
