<div class="container">
  <div class="rectangle230">
    <div class="group327">
      <div class="uploadyourimage">Upload your image</div>
      <div class="fileshouldbe">File should be Jpeg, Png,...</div>
      <div class="group326">
        <div class="rectangle231">
          <!--<div class="rectangleVector"></div>-->
          <img src="../resources/logo.svg" alt="" class="demoimage">
          <div class="draganddrop">Drag & Drop your image here</div>
        </div>
        <div class="or">Or</div>
      </div>
      <input type="file" class="button">
    </div>
  </div>
</div>
